html,
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  
}

main > * {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 1em;
}

.g {
  color: #4285F4;
}

.o1, .e {
  color: #DB4437;
}

.o2 {
  color: #F4B400;
}

.l {
  color: #0F9D58;
}

.search {
  display: flex;
  align-items: middle;
  width: 40vw;
  padding: 1em;
  border-radius: 5rem;
  margin-bottom: 2em;
  border: 1px solid #eee;
}

.search:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.search-icon {
  opacity: 40%;
  margin-right: 1rem;
}

button {
  padding: 0.5em 1em;
  font-size: 0.9rem;
  background-color: #eee;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0 0.25%;
  color: #666;
}

button:hover {
  border: 1px solid #999;
  color: #000;
}

input[type="search"] {
  width: 35vw;
  border: 0;
  font-size: 1.1rem;
  background: transparent;
}
